.score {
  color: #ffffff;
  font-size: 20px;
}

span {
  color: #fec653;
}

.seconds {
  color: #fec653;
}

.timer {
  width: 30px;
  height: 30px;
}

.timer-con {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.timer-score {
  display: flex;
}

.timer-score-con{
  display: flex;
}